body {
    background-color: bisque;
}


.titel {
    color: rgb(181, 105, 181);
    text-align: center;
    font-size: 70px;
}

.bodyimage {
    width: 500px;
    height: auto;
}

.text1 {
    font-size: 42px;
    color: brown;
}

.flexbox{
    display: flex;
    gap: 20px;
}
